@model IEnumerable<WebApplication2.Models.CompanyName>

@{
    ViewBag.Title = "Index";


} 

@using (Html.BeginForm())
{

<div> 

    
    <h2 style="text-align:center;font-family:courier;">Company Name Search</h2>
    
    
</div>
<span type="buttonlink" class="btn btn-default">
    

       <pre style="color:ButtonHighlight" >@Html.ActionLink("Create New", "Create")</pre>
        
        
</span>

        <style type="text/css">
            input[type="text"] {
                width: 50px;
             
            }
              </style>
            <style>  div{}  .success { background-color: ButtonHighlight; overflow:initial;}
            </style>

            <div class="success  ">
                <div class="success">



                    <div class="row">
                        <h5 for="Exchange" class="col-sm-2 control-label">Exchange</h5>

                        <div class="col-sm-10">

                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">


                                @Html.DropDownList("ExchangeCode", "ALL")



                            </button>
                        </div>
                    </div>


                    <div class="row">
                        <h5 for="Type of Company:" class="col-sm-2 control-label">Type of Company:</h5>

                        <div class="col-sm-10">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                @Html.DropDownList("CompanyTypeID","ALL")


                            </button>
                        </div>
                    </div>


                    <div class="row">
                        <h5 for="Search by :" class="col-sm-2 control-label">Search by :</h5>

                        <div class="col-sm-10">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                                @Html.DropDownList("fields", null, new { style = "width:250px" })

                            </button>
                        </div>
                    </div>

                    <div class="row">
                        <h5 for="Enter Search:" class="col-sm-2 control-label">Enter Search:</h5>

                        <div class="col-sm-10  ">
                            <p class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Html.TextBox("SearchString", null, new { style = "width:250px" }) 

                    
                            </p>
                           
                       </div>
                        <div class="col-sm-2 col-sm-10">
                            <input class="btn btn-info" type="submit" value="Search" />
                        </div>
                </div>
                    </div>
            </div>
    }


            <div id="popover-content" style="display:none;">
                <ul>
                    <li><a class="active" data-toggle="tab" onclick="@("window.location.href='" + Url.Action("Index", "Associations") + "'")">Associations</></a></li>
                    <li><a class="active" data-toggle="tab" onclick="@("window.location.href='" + Url.Action("Index2", "Associations") + "'")">Subsidiaries</></a></li>
                    <li><a class="active" data-toggle="tab" onclick="@("window.location.href='" + Url.Action("Index3", "Associations") + "'")">Investments</></a></li>
                </ul>
            </div>


            <div class="container-fluid" style="border:1px solid #000000;">
                <table class="table table-striped table-hover">
                    <tr>


                        <th>
                            @Html.DisplayNameFor(model => model.CompanyName1)
                        </th>
                        <th></th>
                    </tr>


                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.CompanyName1)
                            </td>
                            <td>
                                <a data-toggle="popover" data-target="#popover-content_@item.CompanyID"  title="Group Holdings" data-placement="bottom">Group Holdings</a> |
                                 <div id="popover-content_@item.CompanyID" style="display:none;">
                                     <ul>
                                         <li><a href="/Associations/index?id=@item.CompanyID">Associations</a></li>
                                         <li><a href="/Associations/Index2?id=@item.CompanyID">Subsidiaries</a></li>
                                         <li><a href="/Associations/index3?id=@item.CompanyID">Investments</a></li>
                                     </ul>
                                    </div>

                                @Html.ActionLink("Details", "Details", new { id = item.CompanyID }) |
                                @Html.ActionLink("Delete", "Delete", new { id = item.CompanyID })




                            </td>
                        </tr>
                    }

                </table>
            </div>
           
           


